@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif;
}
